.loginTable {
	position:relative;
	left:150px;
	top:190px;
	border-radius: 8px;
	background-color: #e7e7e5; 
	border-spacing:25px;
	width:280px;
	height:270px;
	border: 5px solid #3e3e3e;
}

.loginTable2 {
	border-radius: 8px;
	background-color: #e7e7e5; 
	border-spacing:25px;
	width:300px;
	height:300px;
	border: 2px solid #3e3e3e;
}

.inputFields {
	width:220px;
	height:28px;
	font-size:20px;
	border:0px; 
	background: none;
	border-bottom: 2px solid #3e3e3e;
}

.inputFields2 {
	width:280px;
	height:28px;
	font-size:20px;
	border:0px; 
	background: none;
	border-bottom: 2px solid #3e3e3e;
}

.loginButton {
	color:#F9F9F9;
	width:100%;
	height:40px;
	background-color: #3e3e3e;
	font-size:20px;
	border:none;
	border-radius: 8px;	
	transition: background-color 0.5s ease;
	transition: border 0.5s ease;
}

.navBarButton {	
	color:#3e3e3e;
	width:100%;
	height:40px;
	background-color: none;
	font-size:20px;
	border:3px solid none;
	transition: background-color 0.5s ease;
	transition: border 0.5s ease;
}

.navBarButton:hover {
	border: 3px solid #F15412;
  	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.loginButton:hover {
	background-color: #e7e7e5;
	border: 6px solid #F15412;
	color: #3e3e3e;
  	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.nav_link {
	transition: border 0.5s ease;
	transition: margin 0.5s ease;
}

.nav-link:hover {
  	border-bottom: 2px solid #3e3e3e;
	padding-bottom: 0px;
}

.active {
    font-weight: bold;
}

.background {
	background:url('pictures/naslovna2.jpg');
	background-size:cover;
	background-position: center;
	cursor:default;
	height:760px;
	margin:-7px;
}

a:hover {
	color: #F15412;
}

#error {
	color: red;
	cursor:default;
}

.sc1 {
  padding-bottom: 0;
  margin: 0;
  background-color: #f06914;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  font-family: "Red Hat Display", sans-serif;
  -webkit-text-stroke: 3px white;
}

.sc2 {
	background:url('pictures/s.jpg');
  background-size: 60%;
  background-position: 50% 50%;
  -webkit-background-clip: text;
  color: hsla(0, 0%, 0%, 0.08);
  animation: zoomout 10s ease 500ms forwards;
  font-size: 20vw;
}

@keyframes zoomout {
  from {
    background-size: 26%;
  }
  to {
    background-size: 7%;
  }
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

/*hides the radio buttons*/
.rating > input{ display:none;}

/*style the empty stars, sets position:relative as base for pseudo-elements*/
.rating > label {
  position: relative;
  width: 26px;
  font-size: 26px;
  color: #FFD700;
  cursor: pointer;
}

/* sets filled star pseudo-elements */
.rating > label::before{ 
  content: "\2605";
  position: absolute;
  opacity: 0;
}
/*overlays a filled start character to the hovered element and all previous siblings*/
.rating > label:hover:before,
.rating > label:hover ~ label:before {
  opacity: 1 !important;
}

/*overlays a filled start character on the selected element and all previous siblings*/
.rating > input:checked ~ label:before{
  opacity:1;
}

/*when an element is selected and pointer re-enters the rating container, selected rate and siblings get semi transparent, as reminder of current selection*/
.rating:hover > input:checked ~ label:before{ opacity: 0.4; }

