.bg{
	background-image: url("pictures/naslovna.jpg");
	background-size: cover;
	background-position: center;
}

tr.selected {
	background: lightblue;
}
tr {
	cursor: pointer;
}

#error {
	color: red;
}

#success {
	color: green;	
}